* { 
  font-weight: 700;
  font-size: 14px;
}

h1, h2, h3, h4, h5, .heading {
	line-height: 1.25;
}

h1, .heading--h1 {
	font-size: 45px;
	font-weight: 300;
}

.tag {
  font-weight: 400;
}

.paragraph {
  line-height: 1.75;
}
